---
// src/pages/blog/[id].astro
import { getCollection, render } from 'astro:content';
import TripLayout from '../../layouts/TripLayout.astro';
import { Image } from 'astro:assets';

// 1. Generujemy ścieżki na podstawie ID plików
export async function getStaticPaths() {
  const trips = await getCollection('trip');
  return trips.map(trip => ({
    params: { id: trip.id },
    props: { trip: trip },
  }));
}

const { trip } = Astro.props;
const { Content } = await render(trip); 
const imageSrc = trip.data.image; 
import { getEntry } from 'astro:content';
const author = trip.data.author ? await getEntry(trip.data.author) : null; 
const authorImage = author?.data.avatar;
---

<TripLayout title={trip.data.title} description={trip.data.description} image={imageSrc?.src} pubDate={trip.data.pubDate} updatedDate={trip.data.updatedDate} stravaUrl={trip.data.stravaUrl} garminUrl={trip.data.garminUrl} gpx={trip.data.gpx} author={trip.data.author}>
  <article class="max-w-6xl mx-auto px-4 py-16">
  <article class="max-w-6xl mx-auto px-4 py-16">
    <header class="mb-8">
       {imageSrc && <Image src={imageSrc} width={1920} height={1080} alt={trip.data.title} class="w-full h-64 object-cover rounded-lg mb-4 group-hover:scale-105 transition-transform duration-300" />}
      
      <h1 class="text-4xl md:text-5xl font-black text-slate-900 dark:text-white mt-2 mb-4 leading-tight transition-colors">
        {trip.data.title}
      </h1>
      <time class="text-slate-500 italic">
        {trip.data.pubDate.toLocaleDateString('pl-PL')}
      </time>
    </header>

    <div class="prose prose-slate dark:prose-invert lg:prose-xl prose-orange max-w-none transition-colors prose-h2:text-4xl prose-h2:font-black prose-h2:text-slate-900 dark:prose-h2:text-white prose-h2:text-balance prose-h2:transition-colors prose-h3:text-3xl prose-h3:font-['Oswald'] prose-h3:font-bold prose-h3:text-white prose-h3:uppercase prose-h3:italic prose-h3:drop-shadow-md">
      <Content />
    </div>
    <div class="author-info">
    <p class="font-bold text-slate-900 dark:text-white">
      {authorImage && <Image src={authorImage} width={64} height={64} alt={author?.data.name || "Awatar"} class="w-16 h-16 rounded-full mr-3 inline-block object-cover" />}
      {author?.data.name || "Nieznany autor"}
    </p>
    
  </div>
  </article>
</TripLayout>